.details_choise_color {
  display: flex;
}
.details_choise_color input[type="radio"] {
  display: none;
}

.details_choise_color span {
  display: block;
  width: 36px;
  height: 36px;
  box-sizing: border-box;
  padding: 1px;
  margin-right: 8px;
  cursor: pointer;
  border: 1px solid #eeeeee;
}

.details_choise_color span:before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background: currentColor;
}

.details_choise_color input[type="radio"]:checked + span {
  border: 1px solid #5ece7b;
}
