.header_select {
  position: relative;
}

.header_select_wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header_select_current {
  padding: 5px;
  font-weight: 500;
  font-size: 18px;
}

.header_select_icon,
.select_icon_reverse {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 5px;
  width: 6px;
  height: 4px;
  text-align: center;
}

.select_icon_reverse {
  transform: rotate(180deg);
}

.header_select_list {
  display: block;
  width: 115px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.header_select_item {
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  padding: 8px 0 8px 20px;
}

.header_select_item:hover {
  background-color: #eee;
}
